<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <logFile>C:\Warhammer Online Age of Reckoning\logs\ScenarioAlerter.log</logFile> <!-- Full path to the log file that ScenarioAlert creates -->
  <alertMethod>Pushover</alertMethod> <!-- Alert method. Valid values are Pushover or Discord -->
  <discordConfig>
    <webhookUri></webhookUri> <!-- Looks something like https://discord.com/api/webhooks/898259049185943573/g7zTn-4JFK0M1X345345234fC_42MeZtJBzlvVLuk45soxletfVmydqwdti5sIyS  -->
  </discordConfig>
  <pushoverConfig>
    <userToken></userToken> <!-- Looks something like ueb1e52pz9x243256pg4az2zuso1gk  -->
    <applicationToken></applicationToken> <!-- Looks something like adew3n43564578886576ssdfi5684b4bkczbff9  -->
  </pushoverConfig>
</configuration>